<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navbar">
        <div class="main-area">
            <a href="/<%=id%>/<%=interventionType%>">
                <img class="header-logo" src="/images/logo.png" />
            </a>
            <a href="/<%=id%>/<%=interventionType%>">
                <h1 class="navbar-title">Research Studies With ALEX</h1>
            </a>
        </div>
        <div class="branding-area">
            <img class="branding-logos" src="/images/MayoClinicLogo.png" /> 
            <img class="branding-logos" src="/images/UFLogo.png" /> 
            <img class="branding-logos" src="/images/UMLogo.png" /> 
        </div>
    </div>
</body>
</html>