<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/studySearch.css" rel="stylesheet" type="text/css">
    <link href="/css/progress.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/studySearch.js"></script>
    <script src="/scripts/registerClicks.js"></script>
    <script src="/scripts/registries.js"></script>
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <div class="container">
        <div class="study-card">
            <h3>CaRE2 Community Registry</h3>
            <p class="info"><strong>Official Title:</strong> Contact Registry for Health Related Research on Cancer</p>
            <div class="mini-card">
                <p><strong>Study Categories: </strong></p>
                <div class="tag-row">
                    <div class="tag-item">African American</div>  
                    <div class="tag-item">Hispanic</div>  
                    <div class="tag-item">Adults</div>  
                </div>
            </div>
            <br/>
            <h4>Summary:</h4>
            <p>The purpose of the CaRE2 Health Equity Center Community Registry, funded by the National Cancer Institute, is to share information about research studies that you might be interested in learning more about. We share information about new approaches and treatments being studied to eliminate cancer health disparities in under-supported populations. Being a part of the registry is completely free.</p>
            <hr/>
            <h4>More Information:</h4>
            <div class="mini-card">
                <h5>Condition(s): </h5>
                <div class="tag-row">
                    <div class="tag-item">Prostate Cancer</div>
                    <div class="tag-item">Lung Cancer</div>
                    <div class="tag-item">Pancreas Cancer</div>
                </div>
            </div>
            <h4>Study Contact:</h4>
            <div class="mini-card">
                <div class="row">
                    <p>Name: Ileana Guzman</p>
                    <p>Email: ileana.guzman@ufl.edu</p>
                </div>
            </div>
            <hr/>
            <p>If you're interested in this study, click the button below to get connected with the research coordinator</p>
            <br/>
            <div class="center">
                <button class="pulse" onclick="sendToDatabase(`ResultsSendEmail`, `clicked`); openEmailModal(`<%= role %>`,`Ileana Guzman`, `ileana.guzman@ufl.edu`, `CaRE2 Community Registry`, `The purpose of the CaRE2 Health Equity Center Community Registry, funded by the National Cancer Institute, is to share information about research studies that you might be interested in learning more about. We share information about new approaches and treatments being studied to eliminate cancer health disparities in under-supported populations. Being a part of the registry is completely free.`, `null`)">Connect with Research Coordinator!</button>         
            </div>
        </div>

        <p>* This summary was prepared by the ALEX Research Team. See the full study description at: <a href="https://med.jax.ufl.edu/institute-population-health/projects-and-initiatives/jaxascent-registry/">https://med.jax.ufl.edu/institute-population-health/projects-and-initiatives/jaxascent-registry/</a></p>
        
    </div>
</body>
</html>