video {
    width: 75%;
}

text-h1 {
    font-weight: 900;
    color: #002657;
    padding: 0px;
    text-align: center;
}

text-p {
    font-weight: 400;
    font-size: 25px;
    margin: 15px;
}

text-button {
    padding: 15px;
    font-size: 21px;
    border-top: 1px solid #002657;
}

.discover-area-text-nav {
    border-top: 1px solid #002657;
    padding: 25px;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    border: 3px solid #002657;
    border-radius: 35px;
    margin: 0px 15px;
}

.navigation-area {
    display: flex;
    flex-direction: column;
}

.navigation-header {
    display: block;
    font-weight: bold;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin: 35px;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.education-navigation {
    background-color: #002657;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 15px;
    margin: 7px;
    font-size: 21px;
    width: 205px;
    height: 105px;
    transition: .2s ease-in-out;
}

.selected {
    background-color: #002657;
    color: white;
}

.education-navigation:hover {
    cursor: pointer;
    background-color: #FA4616;
    transform: scale(1.1);
}

.character-selection-area {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px;
}

.discover-button-area {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin: 0px 15px 0px 0px;
}

a {
    color: #002657;
}

a:hover {
    text-decoration: underline;
}

.areas {
    display: flex;
    flex-direction: row;
}

.area {
    border: 3px solid #FA4616;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    width: 49%;
}

h2 {
    color: #002657;
    font-size: 35px;
    margin-bottom: 0px;
}

h3 {
    color: #002657;
    font-size: 29px;
}

.minor {
    font-size: 21px !important;
}

.show {
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
  }

.hidden {
    opacity: 0;
}

.text-discover-button {
    color: #B50000;
}

.text-discover-button:hover {
    text-decoration: underline;
    text-decoration-color: #B50000;   
}

.text-p-discover {
    color: #B50000;
}

.text-p-discover:hover {
    text-decoration: underline;
    text-decoration-color: #B50000;
}

.text-container .education-navigation, .text-container .discover {
    font-size: 21px !important;
}