.modal {
  display: none;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 9px;
  overflow-y: auto;
  max-height: 80%;
}

.modal-content::-webkit-scrollbar-track {
  border-radius: 5px;
}

#email-sending-loading {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#message::-webkit-scrollbar-thumb {
  border-radius: 0px;
}
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  form .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .bold-blue {
    font-weight: 700;
    color:#002657;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .email-modal-title {
    text-align: center !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 23px;
    color: #002657
  }

label {
  margin: 5px 0;
  font-weight: 600;
  color: #002657;
  font-size: 19px;
}

input, textarea {
  padding: 11px;
}

input {
  border-radius: 11px;
}

.label-info {
  font-size: 15px;
  color:#6e6e6e;
  margin: 0 !important;
}

#name, #email {
  height: 15px;
  font-size: 15px;
  width: 35vw; 
}

form .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

input[type='email'] , input[type='text'] {
  width: 100%;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

input[type='submit'] {
    background-color: #22884C !important;
    padding: 11px;
    border: 0px;
    border-radius: 19px;
    color: white;
    font-size: 21px;
    transition: .2s ease-in-out;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width: 105px;
    text-align: center;
    margin-top: 11px;
}

input[type='submit']:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background-image: linear-gradient(25deg, rgba(34,136,76,1) 0%, rgba(44,167,94,1) 100%)
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

textarea {
  font-family: 'Inter', sans-serif;
}

.study-card {
  display: flex;
  flex-direction: column;
  width: 65%;
  border: 1px solid #002657;
  border-radius: 7px;
  padding: 35px;
  text-align: left;
  margin: 55px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  position: relative;
  background-color: white;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 1.75rem;
}

.study-card::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background-image: linear-gradient(
    45deg,
    #fa4616,#002657
  );
  border-radius: 1.75rem;
}

.study-card h3 {
  font-size: 25px;
  margin: 0 0 15px 0;
}

.study-card h4 {
  margin: 0;
  font-size: 21px;
}

.study-card h5 {
  margin: 0;
  font-size: 17px;
}

.study-card p {
  margin: 0 0 7px 0;
  font-size: 17px;
}

.study-card hr {
  margin: 15px 0;
}

.study-card .mini-card {
  border: 1px solid #002657;
  padding: 11px;
  border-radius: 11px;
  margin: 11px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.study-card a{
  word-wrap: break-word;
  color: #0021a5;
  font-weight: 600;
}

.study-card .tag-row{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
}

.study-card .tag-item {
  background-color: #fa4616;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  color: white;
  padding: 5px;
  border-radius: 7px;
  margin: 5px;
}

.more-expand {
  color:#002657;
}

.more-expand:hover {
  color:#fa4616;
  text-decoration: underline;
  cursor: pointer;
}

.button-action-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.button-action-area button {
  margin: 25px;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

@media only screen and (max-width: 600px) {
  .container {
      padding: 15px;
  }

  .study-card {
    margin: 25px 0;
    padding: 25px;
  }

  form .row {
    flex-direction: column;
  }

  #name, #email {
    width: 65vw;
  }
  .button-action-area button {
    font-size: 15px !important;
    margin: 11px;
  }
}