<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/discover.css" rel="stylesheet" type="text/css">
    <script src="/scripts/discover.js"></script>
    <script src="/scripts/registerClicks.js"></script>
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
        <h1 class="title">Discover Research Opportunities</h1>
        <p style="font-size:23px;">Now that you’ve learned more about research studies from Alex, you can <b>search for research studies suitable for you</b>! You may also <b>download our question guide</b>, which is a PDF with a list of questions to ask healthcare providers, study teams, and loved ones.</p>
        <div class="area">
            <p style="font-size:23px;">When you're ready, click the button below to find a research study for you!</p>
            <a onclick="sendToDatabase(`SearchStudies`, `clicked`)" href="/<%=id%>/<%=interventionType%>/<%=vh%>/StudySearch/Role"><button class="green discover">🔍 Start Searching for Research Studies</button>
        </div>
        <button onclick="download()">⬇️ Download Question Guide</button>
        <p style="margin-top: 11px; font-size: 17px;">This will open a PDF in a new tab</p>
    </div>
</body>
</html>