<!DOCTYPE html>
<html lang="en">
    <script>
        (function() {
 const interventionType = '<%= interventionType %>';
 console.log("CHECKING LE interventionType", interventionType)
})();
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/registerClicks.js"></script>
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
        <h1 class="title">Select your Alex</h1>
        <p> Please click on the Alex below with whom you would like to speak.</p>
        <p style="margin-top:0px; font-size: 19px; font-style: italic;">Regardless of who you choose, you will receive the same information.</p>
        <div class="selection-area" id="english">
                <a onclick="sendToDatabase(`vCHE`, `swe`)">
                    <img class="character-select" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/swe.png"/>
                </a>
                <a onclick="sendToDatabase(`vCHE`, `mbe`)">
                    <img class="character-select" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/mbe.png"/>
                </a>
                <a onclick="sendToDatabase(`vCHE`, `bfe`)">
                    <img class="character-select" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/bfe.png"/>
                </a>
                <a onclick="sendToDatabase(`vCHE`, `cre`)">
                    <img class="character-select" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/cre.png"/>
                </a>
                <a onclick="sendToDatabase(`vCHE`, `jke`)">
                    <img class="character-select" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/jke.png"/>
                </a>
                <a onclick="sendToDatabase(`vCHE`, `bme`)">
                    <img class="character-select" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/bme.png"/>
                </a>
                <a onclick="sendToDatabase(`vCHE`, `wme`)">
                    <img class="character-select" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/wme.png"/>
                </a>  
        </div>

        <div class="selection-area" id="spanish">
                <a onclick="sendToDatabase(`vCHE`, `mbs`)">
                    <img class="character-select" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/mbe.png"/>
                </a>
                <a onclick="sendToDatabase(`vCHE`, `crs`)">
                    <img class="character-select" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/cre.png"/>
                </a>
        </div>
    </div>
    <script src="/scripts/selectCharacter.js"></script>
    </body>
</html>