<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/studySearch.css" rel="stylesheet" type="text/css">
    <link href="/css/progress.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/studySearch.js"></script>
    <script src="/scripts/StudySearch/background.js"></script>
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <div class="container">
        <div class="progress-container">
            <div class="progress-bar">
                <div class="step visted">
                    <div class="bullet visited"><span>✓</span></div>
                    <p>Role</p>
                </div>
                <div class="step active">
                    <div class="bullet active"><span>2</span></div>
                    <p>Background</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>3</span></div>
                    <p>Preferences</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>4</span></div>
                    <p>Generating Results</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>5</span></div>
                    <p>Studies</p>
                </div>
            </div>
        </div>
        <h1 class="title" id="background"> Background</h1>
        <p id="background-description" class="search-subtext"></p>
        <div class="form-area">
            <form onsubmit="return false" id="background-info">
                <fieldset>
                    <legend class = "age-legend" id="age-text">&nbsp; Age<span class="red-validator">&nbsp;(*Required)&nbsp;</span> </legend>
                    <input type="number" min="18" max="150" id="Age" name="Age">
                </fieldset>

                <fieldset>
                    <legend class = "gender-legend" id="gender-text">&nbsp; Gender<span class="red-validator">&nbsp;(*Required)&nbsp;</span> </legend>
                    <input type="radio" id="female" name="Gender" value="Female" />
                    <label for="female">Female</label>
                    <input type="radio" id="male" name="Gender" value="Male" />
                    <label for="male">Male</label>
                    <input type="radio" id="not_listed" name="Gender" value="not_listed" />
                    <label for="not_listed">Not listed</label>
                    <input type="radio" id="not_say" name="Gender" value="not_say" />
                    <label for="not_say">Prefer not to say</label>
                </fieldset>

                <fieldset>
                    <legend class = "state-legend" id="state-text">&nbsp; State <span class="red-validator">&nbsp;(*Required)&nbsp;</span></legend>
                    <select id="LocationState" name="LocationState">
                        <option value="---">Please select a state ...</option>
                        <option value="Alabama">Alabama</option><option value="Alaska">Alaska</option><option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option><option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option><option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option><option value="Guam">Guam</option><option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option><option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option><option value="Maine">Maine</option><option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option><option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option><option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option><option value="Northern Marianas Islands">Northern Marianas Islands</option><option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option><option value="Pennsylvania">Pennsylvania</option><option value="Puerto Rico">Puerto Rico</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option><option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option><option value="Virgin Islands">Virgin Islands</option><option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option>
                    </select>
                </fieldset>

                <fieldset>
                    <legend class = "city-legend" id="city-text">&nbsp; City <span class="red-validator">&nbsp;(*Required)&nbsp;</span></legend>
                    <input type="text" id="LocationCity" name="LocationCity">
                    <ul class="cities-list" id="cities-list" name="cities-list"></ul>
                </fieldset>
            </form>
        </div>
        <div class="next-back-button-area">
            <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/StudySearch/Role"><button class="back">Back</button></a>
            <button class="green" onclick="validateAndSendFormData(`background-info`)">Next</button>
        </div>
    </div>
</body>
<script src="/scripts/StudySearch/checkRole.js"></script>
</html>