<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/studySearch.css" rel="stylesheet" type="text/css">
    <link href="/css/progress.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/studySearch.js"></script>
    <script src="/scripts/StudySearch/diagnosis.js"></script>
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <div class="container">
        <div class="progress-container-a">
            <div class="progress-bar-a">
                <div class="step visted">
                    <div class="bullet visited"><span>✓</span></div>
                    <p class="notranslate english">Role</p>
                    <p class="notranslate spanish">Rol</p>
                </div>
                <div class="step visited">
                    <div class="bullet visited"><span>✓</span></div>
                    <p class="notranslate english">Background</p>
                    <p class="notranslate spanish">Datos Básicos</p>
                </div>
                <div class="step active">
                    <div class="bullet active"><span>3</span></div>
                    <p class="notranslate english">Preferences</p>
                    <p class="notranslate spanish">Preferencias</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>4</span></div>
                    <p class="notranslate english">Generating Results</p>
                    <p class="notranslate spanish">Generando Resultados</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>5</span></div>
                    <p class="notranslate english">Studies</p>
                    <p class="notranslate spanish">Estudios</p>
                </div>
            </div>
        </div>
        <h1 class="title">Let's find research studies!</h1>
        <p id="diagnosis-description"></p>
        <div class="diagnosis-examples">
            <ul>
                <li class="tooltip-container"> Diagnosis
                    <span class="tooltip-text">Examples: Diabetes, Breast cancer, Alzheimer's disease, Long COVID</span>
                </li>
                <li class="tooltip-container">Health Topics
                    <span class="tooltip-text">Examples: Mental health, Weight loss, Menopause, Nutrition</span>
                </li>
                <li class="tooltip-container">Treatments
                    <span class="tooltip-text">Examples: Immunotherapy, Gene therapy, Radiation treatment, Insulin pump</span>
                </li>
                <li class="tooltip-container">Medications
                    <span class="tooltip-text">Examples: Metformin, Ozempic, SSRIs, Statins</span>
                </li>
            </ul>
            <ul>
                <li class="tooltip-container">Procedures
                    <span class="tooltip-text">Examples: Knee replacement, Bariatric surgery, Physical therapy, Stem cell transplant</span>
                </li>
                <li class="tooltip-container">Populations
                    <span class="tooltip-text">Examples: Children, Elderly, Veterans</span>
                </li>
                <li class="tooltip-container">Symptoms
                    <span class="tooltip-text">Examples: Memory loss, Joint pain, Fatigue, Hot flashes</span>
                </li>
                <li class="tooltip-container">Study Information
                    <span class="tooltip-text">Examples: Study title, Investigator, NCT ID</span>
                </li>
            </ul>
        </div>
        <div class="form-area">
            <form onsubmit="return false" id="diagnosis-info">
                <fieldset>
                    <legend id="diagnosis-text">&nbsp; Diagnoses and Health Topics &nbsp;</legend>
                    <div id="diagnosis1">
                        <div class="condition-row">
                            <button type="button" id="remove3" class ="remove-button" style="visibility: hidden" data-text="-">-</button>
                            <input type="text" class="condition-input" id="Diagnosis1" name="ConditionText1">
                            <button type="button" id="add1" onclick="addConditionRow(`diagnosis2`)" class="add-button disabled" data-text="+">+</button>
                        </div>
                        <ul class="conditions-list" id="conditions-list1" name="conditions-list"></ul>
                    </div>
                    <div id="diagnosis2">
                        <div class="condition-row">
                            <button type="button" id="remove2" onclick="removeConditionRow(`diagnosis2`)" class ="remove-button" data-text="-">-</button>
                            <input type="text" class="condition-input" id="Diagnosis2" name="ConditionText2">
                            <button type="button" id="add2" onclick="addConditionRow(`diagnosis3`)" class ="add-button" data-text="+">+</button>
                        </div>
                        <ul class="conditions-list" id="conditions-list2" name="conditions-list"></ul>
                    </div>
                    <div id="diagnosis3">
                        <div class="condition-row">
                            <button type="button" id="remove3" onclick="removeConditionRow(`diagnosis3`)" class ="remove-button" data-text="-">-</button>
                            <input type="text" class="condition-input" id="Diagnosis3" name="ConditionText3">
                            <button type="button" id="add3" onclick="addConditionRow(`diagnosis2`)" class ="add-button" data-text="+">+</button>
                        </div>
                        <ul class="conditions-list" id="conditions-list3" name="conditions-list"></ul>
                    </div>
                    <p class = "info notranslate english">You can add another diagnosis or health topic by pressing the + after typing in your first one.<br>You can remove a diagnoses or health topic by pressing the -</p>
                    <p class = "info notranslate spanish">Puede agregar otra diagnóstico o tema de salud presionando el signo "+" después de ingresar la primera.<br>Puede eliminar un diagnóstico o tema de salud presionando el signo "-".</p>
                </fieldset>
            </form>
        </div>
        <div class="next-back-button-area">
            <a class="notranslate english" id="back-link" href="/StudySearch/Preferences"><button class="back">Back</button></a>
            <a class="notranslate spanish" id="back-link" href="/StudySearch/Preferences"><button class="back">Regresar</button></a>
            <button class="green notranslate english" onclick="sendFormData(`diagnosis-info`)">Next</button>
            <button class="green notranslate spanish" onclick="sendFormData(`diagnosis-info`)">Continuar</button>
        </div>
    </div>
</body>
<script src="/scripts/StudySearch/checkRole.js"></script>
</html>