<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/studySearch.css" rel="stylesheet" type="text/css">
    <link href="/css/progress.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/studySearch.js"></script>
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <div class="container">
        <div class="progress-container-a">
            <div class="progress-bar-a">
                <div class="step visted">
                    <div class="bullet visited"><span>✓</span></div>
                    <p class="notranslate english">Role</p>
                    <p class="notranslate spanish">Rol</p>
                </div>
                <div class="step visited">
                    <div class="bullet visited"><span>✓</span></div>
                    <p class="notranslate english">Background</p>
                    <p class="notranslate spanish">Datos Básicos</p>
                </div>
                <div class="step active">
                    <div class="bullet active"><span>3</span></div>
                    <p class="notranslate english">Preferences</p>
                    <p class="notranslate spanish">Preferencias</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>4</span></div>
                    <p class="notranslate english">Generating Results</p>
                    <p class="notranslate spanish">Generando Resultados</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>5</span></div>
                    <p class="notranslate english">Studies</p>
                    <p class="notranslate spanish">Estudios</p>
                </div>
            </div>
        </div>
        <h1 class="title">Let's find research studies!</h1>
        <p id="preferences-description" class="preferences-legend"></p>
        <div class="form-area">
            <form onsubmit="return false" id="preferences">
                <div class="single-select-button">
                    <input type="radio" id="search" name="Preferences" value="Search" />
                    <label id="diagnosis-option" for="search">Yes, I'd like to search for a specific diagnosis or health topic.</label>
                </div>
                <div class="single-select-button">
                    <input type="radio" id="browse" name="Preferences" value="Browse" />
                    <label  id="browse-option" for="browse">No, I'm just browsing.</label>    
                </div>     
                <br/>
            </form>
        </div>
        <div class="next-back-button-area">
            <a class="notranslate english" href="/StudySearch/Background"><button class="back">Back</button></a>
            <a class="notranslate spanish" href="/StudySearch/Background"><button class="back">Regresar</button></a>
            <button class="green notranslate english" onclick="validateAndSendFormData(`preferences`)">Next</button>
            <button class="green notranslate spanish" onclick="validateAndSendFormData(`preferences`)">Continuar</button>
        </div>
    </div>
</body>
<script src="/scripts/StudySearch/checkRole.js"></script>
</html>