<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/progress.css" rel="stylesheet" type="text/css">
    <link href="/css/studySearch.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/studySearch.js"></script>
    <script src="/scripts/StudySearch/background.js"></script>
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <div class="container">
        <div class="progress-container">
            <div class="progress-bar">
                <div class="step">
                    <div class="bullet active"><span>1</span></div>
                    <p>Role</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>2</span></div>
                    <p>Background</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>3</span></div>
                    <p>Preferences</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>4</span></div>
                    <p>Registries</p>
                </div>
                <div class="step">
                    <div class="bullet"><span>5</span></div>
                    <p>Studies</p>
                </div>
            </div>
        </div>
        <h1 class="title">Select Your Role</h1>
        <p class="search-subtext">Before we begin, are you a patient or a caregiver?</p>
        <p class="role-legend search-subtitle"><em>You will be shown the same research studies regardless of your role.</em></p>
        <div class="form-area">
            <form onsubmit="return false" id="role-type">
                <div class="single-select-button">
                    <input type="radio" id="patient" name="Role" value="Patient" />
                    <label for="patient">Patient</label>
                </div>
                <div class="single-select-button">
                    <input type="radio" id="caregiver" name="Role" value="Caregiver" />
                    <label for="caregiver">Caregiver</label>
                </div>
                <br/>
            </form>
        </div>
        <div class="next-back-button-area">
            <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/Discover"><button class="back">Back</button></a>
            <button class="green" onclick="validateAndSendFormData(`role-type`)">Next</button>
        </div>
</body>
</html>